/**
 * Slide-in-bottom
 */
@include keyframes(slide-in-bottom) {
	0% {
		bottom: -100%;
		@include opacity(0);
	}

	100% {
		bottom: 0;
		@include opacity(1);
	}
}

/**
 * Slide-out-bottom
 */
@include keyframes(slide-out-bottom) {
	0% {
		bottom: 0;
		@include opacity(1);
	}

	100% {
		bottom: -100%;
		@include opacity(0);
	}
}

/**
 * Slide-in-vertical
 */
@include keyframes(slit-in-vertical) {
	0% {
		@include transform(translateZ(-800px) rotateY(90deg));
		@include opacity(0);
	}
	54% {
		@include transform(translateZ(-160px) rotateY(87deg));
		@include opacity(1);
	}
	100% {
		@include transform(translateZ(0) rotateY(0));
	}
}

/**
 * Slide-out-vertical
 */
@include keyframes(slit-out-vertical) {
	0% {
		-webkit-transform: translateZ(0) rotateY(0);
		@include opacity(1);
	}
	54% {
		-webkit-transform: translateZ(-160px) rotateY(87deg);
		@include opacity(1);
	}
	100% {
		-webkit-transform: translateZ(-800px) rotateY(90deg);
		@include opacity(0);
	}
}

/**
 * Rotate
 */
@include keyframes(rotate) {
	to {
		transform: rotate(1turn);
	}
}
