@font-face {
    font-family: "Google Sans";
    src: url("./GoogleSans-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Google Sans";
    src: url("./GoogleSans-Medium.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Google Sans";
    src: url("./GoogleSans-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Google Sans";
    src: url("./GoogleSans-Black.otf");
    font-weight: 900;
    font-style: normal;
}

/* Knockout */
@font-face {
    font-family: "Knockout";
    src: url("./Knockout.otf");
    font-weight: normal;
    font-style: normal;
}

/* Knockout */
@font-face {
    font-family: "Handwriting Draft";
    src: url("./Handwriting-Draft.otf");
    font-weight: normal;
    font-style: normal;
}